.About {
  text-align: center;
  font-size: 135%;
  font-weight: 0;
  border-top: 1px solid rgba(6, 6, 6, 0.3);
  border-bottom: 1px solid rgba(6, 6, 6, 0.3);

}

.About>h1 {
  margin-bottom: 0;
}

.downloadBt {
  width: 11vw;
  height: 3.5vw;
  background-color: var(--color-primary);
  border: none;
  color: white;
  border-radius: 4px;
  font-size: 1vw;
}



.downloadBt:hover {
  background-color: #5a957d;
  cursor: pointer;
}

.intro {
  display: flex;
  flex-direction: row;
}

.introText {
  max-width: 70%;
}

.introText>p {
  max-width: 95%;
}

.introImg {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}

.social-icons {
  margin-top: 0%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-icons>div {

  margin-left: 2%;
}