.experienceWrapper {
  border: 1px solid rgba(6, 6, 6, 0.3);
}

.experienceWrapper {
  margin-top: 2%;
  box-shadow: 1vw 0.5vw 0.5vw rgb(123, 120, 120);
  border-radius: 5px;
  transition: .3s all ease;

}

.experienceWrapper:hover {
  transform: scale(1.03);
}

.experienceTab {
  display: flex;
  max-height: fit-content;
  border-bottom: 1px solid rgba(6, 6, 6, 0.3);
}

.jobIntro {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  margin-left: 1%;
}

.jobIntro>h4 {
  margin-top: 0%;
  margin-bottom: 0;
}

.jobIntro>h5 {
  margin-top: 0%;
  margin-bottom: 0%;
  font-weight: normal;
  font-style: italic;


}

.timeAndArrow {
  margin-left: auto;
  margin-right: 1%;
  display: flex;
  flex-direction: column;
}

.timeRange {
  margin-top: 0%;
  margin-bottom: 0%;
}

.experienceDropDown {}

.arrow {
  width: 0.4vw;
  height: 0.4vw;
  border-right: 0.2em solid var(--color-text);
  border-top: 0.2em solid var(--color-text);
  transform: rotate(135deg);
  margin-left: auto;
  margin-right: 5%;
  margin-top: 2%;

}