/* style= {
    {
    margin: `0 auto`,
      padding: `var(--space-4) var(--size-gutter)`,
      display: `flex`,
      alignItems: `center`,
      justifyContent: `space-between`,
  }
} */


/* 
 style= {
     {
     fontSize: `var(--font-sm)`,
       textDecoration: `none`,
   }
 }
 */

.TextLogo {
  color: var(--color-logo);
  font-size: var(--font-huge);
  margin-bottom: 2%;
}

/* fixed top-0 left-0 z-50 */

.header {

  /* padding-left: var(--size-gutter);
  padding-right: var(--size-gutter);
  display: flex;*/
  /* border: 2px solid rgba(105, 100, 100, 0.3); */
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 3px rgb(123, 120, 120);

  position: fixed;
  width: 100%;
  z-index: 50;

}

/* .nav-container {
  text-align: center;
}

.nav-container ul {
  display: inline-block;
}
 */

.navigationWrapper {

  text-align: center;


}

.navigationWrapper ul {


  list-style: none;


}

.navigationWrapper ul li {

  display: inline-block;
  padding-right: 4.3vw;
  cursor: pointer;
}


.navLink {
  text-decoration: none;

}